# NB after balancing data

In [35]:
import pandas as pd
import numpy as np
import sklearn
import nltk

In [36]:
train_data=pd.read_csv("C:/Users/17049/Desktop/Courses/MDS/Project/2-Trial/train.csv")
train_data['single'] = train_data['turn1']+" "+train_data['turn2']+" "+train_data['turn3']
train_data.head()

,id,turn1,turn2,turn3,label,single
0,0,Don't worry I'm girl,hmm how do I know if you are,What's ur name?,others,Don't worry I'm girl hmm how do I know if you...
1,1,When did I?,saw many times i think -_-,No. I never saw you,angry,When did I? saw many times i think -_- No. I n...
2,2,By,by Google Chrome,Where you live,others,By by Google Chrome Where you live
3,3,U r ridiculous,I might be ridiculous but I am telling the truth.,U little disgusting whore,angry,U r ridiculous I might be ridiculous but I am ...
4,4,Just for time pass,wt do u do 4 a living then,Maybe,others,Just for time pass wt do u do 4 a living then ...

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train_data["single"],train_data["label"], test_size = 0.2, random_state = 42)

In [38]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
count_vect = CountVectorizer()
transformer = TfidfTransformer(norm='l2',sublinear_tf=True)
x_train_counts = count_vect.fit_transform(x_train)
x_train_tfidf = transformer.fit_transform(x_train_counts)

In [39]:
x_test_counts = count_vect.transform(x_test)
x_test_tfidf = transformer.transform(x_test_counts)

In [40]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(x_train_tfidf,y_train)
predictions = model.predict(x_test_tfidf)

In [41]:
from sklearn.metrics import f1_score,precision_score,recall_score
print("F1 score  : ",f1_score(y_test,predictions,average='macro'))
print("Precision : ",precision_score(y_test,predictions, average='macro'))
print("Recall    : ",recall_score(y_test,predictions, average='macro'))

F1 score  :  0.47013098154096034
Precision :  0.8225383328195277
Recall    :  0.43916627168122435

In [42]:
# Testing the model with test data

In [43]:
test_data = pd.read_csv("C:/Users/17049/Desktop/Courses/MDS/Project/2-Trial/devwithoutlabels.txt",sep='\t')
test_data['single'] = test_data['turn1']+" "+test_data['turn2']+" "+test_data['turn3']
test_data.head()

,id,turn1,turn2,turn3,single
0,0,Then dont ask me,YOURE A GUY NOT AS IF YOU WOULD UNDERSTAND,IM NOT A GUY FUCK OFF,Then dont ask me YOURE A GUY NOT AS IF YOU WOU...
1,1,Mixed things such as??,the things you do.,Have you seen minions??,Mixed things such as?? the things you do. Hav...
2,2,Today I'm very happy,and I'm happy for you ❤,I will be marry,Today I'm very happy and I'm happy for you ❤ I...
3,3,Woah bring me some,left it there oops,Brb,Woah bring me some left it there oops Brb
4,4,it is thooooo,I said soon master.,he is pressuring me,it is thooooo I said soon master. he is pressu...

In [44]:
train_counts = count_vect.fit_transform(train_data['single'])
test_counts = count_vect.transform(test_data['single'])

In [45]:
train_tfidf = transformer.fit_transform(train_counts)
test_tfidf = transformer.transform(test_counts)

In [46]:
model.fit(train_tfidf,train_data['label'])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [47]:
predictions = model.predict(test_tfidf)

In [50]:
final_result = pd.DataFrame({'turn1':test_data['turn1'],'turn2':test_data['turn2'],'turn3':test_data['turn3'],'label':predictions})
final_result=final_result[['turn1','turn2','turn3','label']]
final_result.index.names=['id']
final_result.head(10)
final_result.to_csv('C:/Users/17049/Desktop/Courses/MDS/Project/2-Trial/test.txt',sep='\t')
final_result.head()

,turn1,turn2,turn3,label
id,,,,
0,Then dont ask me,YOURE A GUY NOT AS IF YOU WOULD UNDERSTAND,IM NOT A GUY FUCK OFF,others
1,Mixed things such as??,the things you do.,Have you seen minions??,others
2,Today I'm very happy,and I'm happy for you ❤,I will be marry,others
3,Woah bring me some,left it there oops,Brb,others
4,it is thooooo,I said soon master.,he is pressuring me,others